footer {
  padding: 100px 0 75px;

  .layout-container {
    flex-direction: column;
    position: relative;
    text-align: center;
  }

  ul {
    
    @media (min-width: 800px) {
      display: flex;
      justify-content: center;
    }

    li {
      margin: 0 8px 6px;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-family: 'Poppins', sans-serif;
      
      @media (min-width: 800px) {
        margin: 0 8px;
        font-size: 1.4rem;
        line-height: 3.3rem;
      }
    }

    + ul {
      margin-top: 10px;
    }
  }
}

.footer__title {
  font-size: 3.8rem;
  line-height: 8.2rem;
  font-weight: 400;

  @media (min-width: 800px) {
    font-size: 6.8rem;
  }
}
