header .layout-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    margin-right: 60px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 2.2rem;
    }

    &.current a {
        position: relative;
        z-index: 1;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #FFAA00;
        left: 0px;
        bottom: -4px;
        right: 0px;
        z-index: -1;
      }
    }
  } 
}

.nav-title {
  font-size: 10rem;
  line-height: 13.6rem;
}